@import "tailwindcss";

@layer utilities {
  .animate-scanline {
    animation: scanline 4s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

@keyframes scanline {
  0% { transform: translateY(-10px); }
  100% { transform: translateY(100vh); }
}
